#logot {
  width: 300px;
  margin: 50px;
  justify-content: center;
}
#con {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 50px;
}
#link {
  text-decoration: none;
  color: #1fa99a;
}
#link:hover {
  color: #bcf0ea;
}
#row-log {
  border-radius: 40px;
  margin-top: 50px;
  background-color: rgb(235, 243, 242);
  color: #1fa99a;
  font-size: 25px;
  margin: 5px;
}
#input {
  color: #fff;
}
