.cards {
  border-radius: 10px;
  opacity: 10;
  justify-content: center;
  width: 500px;
  margin: 5px;
  align-self: center;
  opacity: 1;
  margin-top: 10px;
  text-align: center;
}
.cards-main{
  border-radius: 10px;
  opacity: 10;
  justify-content: center;
  width: 500px;
  margin: 5px;
  align-self: center;
  opacity: 1;
  margin-top: 10px;
  text-align: center;
  height: 200px;
}
.App-dash {
  color: #027a6c;
  margin-top: 50px;
}
.codew{
  width: 100px;
}
.dash-img {
  margin-bottom: 20px;
  width:50px;
    align-content:center;
    width: 90px;
}
.card-roow{
  margin-top: 50px;
}

.dashboard {
  margin: 10px;
  color: #a3ebe2;
}
.prom {
  border-radius: 10px;
  opacity: 10;
  justify-content: center;
  border-image-outset: unset;
  width: 700px;
  height: 600px;
  align-self: center;
}


