.cards{
    border-radius: 10px;
    opacity: 10;
   justify-content: center;
   width: 700px;
   height: 150px;
   align-self: center;
   color: #1FA99A;

   
}
.dash-img{
    align-items: center;
}
.dashboard{
    margin: 10px;
}
.cards:hover{
    color: #a3ebe2;
}
.prom{
    border-radius: 10px;
    opacity: 10;
    justify-content: center;
    border-image-outset: unset;
   width: 700px;
   height: 600px;
   align-self: center;
}
.code{
    border-radius: 10px;
    opacity: 10;
    justify-content: center;
    border-image-outset: unset;
   width: 300px;
   height: 150px;
   align-self: center;
   border: shadow 10px;;
   
}
.code:hover {
color: aquamarine;
}