#logo-in {
  width: 100px;
}
.App-navbar {
  background-image: linear-gradient(-45deg, #bcf0ea, #1fa99a, #058879);
  width: 100%;
  height: 100px;
  
}
.nav-in{
  text-decoration: none;
color: #bcf0ea;
}
.nav-in:hover{
  color: #013d36;
}